MONGODB_URL=
DATABASE_NAME=

JWT_SECRET=

HF_TOKEN=


GROQ_API_KEY=
GROQ_MODEL=




CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=



REDIS_URL=
#For production, you'll replace this with your hosted Redis URL.